html,body {
	background: #404041;
}
/* Home page styles */
#header {
	margin-top: 1em;
}
#logo{
	width: 90%;
}
#logo img{
	width: 100%;
}
.full {
    margin:0;
    max-width: 62.5em;
    width: 100%;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 800px) and (max-width:1025px){
	#logo{
	width: 50%;
	}
	.top-bar{
		margin:3em 0 0 -180px;
	}
}
@media only screen and (min-width:642px) and (max-width: 800px){
	#logo{
	width: 70%;
	}
	.top-bar{
		margin:3em 0 0 -100px;
	}
}
@media(max-width:641px){
	#logo{
		float: right;
		margin-right: 2em; 
		width: 50%;
	}
	.top-bar {
		background: none;
		margin:1.6em 1.3em 0 0;
	}
}