html,body {
	background: #404041;
}
/* Home page styles */
#header {
	margin-top: 1em;
}
#logo{
	width: 83%;
}
#logo img{
	width: 100%;
}

.full {
    margin:0;
    max-width: 100% !important;
    width: 100%;
}
.top-bar{
		margin:4% 0 0 -40px;
	}
.searchblock {
	background: white;
	height: 80px;
	margin:300px 0 300px 0;
	width: 100%;
}
.previewvideo {
	position: absolute;
	right: 5%;
	top:160px;
	width: 560px;
}
/* .thumbpreview-video ul{
	margin:0.6em 0;
	width: 100%;
}
.thumbpreview-video ul li{
	display: inline-block;
	width: 15.9%;
}
#slider {
  border:5px solid white;
  position: relative;
  overflow: hidden;
  width: 100%;
}

#slider ul {
  background: white;
  height: 325px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#slider ul li {
  display: block;
  float: left;
  height: 325px;
  line-height: 300px;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: center;
  width: 560px;
}

a.control_prev, a.control_next {
  background: #2a2a2a;
  color: #fff;
  cursor: pointer;
  display: block;
  font-weight: 600;
  font-size: 18px;
  height: auto;
  opacity: 0.8;
  padding: 4% 3%;
  position: absolute;
  text-decoration: none;
  top: 40%;
  width: auto;
  z-index: 999;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
} */
/* ---- Video slider ---- */


/* MEDIA QUERIES */
@media only screen and (min-width: 800px) and (max-width:1025px){
	#logo{
	width: 50%;
	}
	.top-bar{
		margin:3em 0 0 -180px;
	}
}
@media only screen and (min-width:642px) and (max-width: 800px){
	#logo{
	width: 70%;
	}
	.top-bar{
		margin:3em 0 0 -100px;
	}
}
@media(max-width:641px){
	#logo{
		float: right;
		margin-right: 2em; 
		width: 50%;
	}
	.top-bar {
		background: none;
		margin:1.6em 1.3em 0 0;
	}
}